params {
    input_reads = 'path/to/reads.fastq.gz'
    input = 'path/to/assembly.fasta'
    out = '/path/to/output/results'
    kmer = 30
    memory = 180
    threads = 8
}

process {
   withName: 'GFASTATS' {
                container = '/path/to/gfastats.sif'
                cpus = 1
                memory = 7.GB
                time = 1.h
            }
   withName: 'BUSCO' {
                container = '/path/to/busco_v6.0.0_cv1.sif'
                cpus = 7
                memory = 30.GB
                time = 3.h
            }
    withName: 'MERYL' {
           container = '/path/to/meryl_1.4.1.sif'
           cpus = 8
           memory = 180.GB
           time = 8.h
           }
    withName: 'MERQURY' {
        container = '/path/to/merqury.sif'
        cpus = 8
        memory = 180.GB
        time = 24.h
    }
}


singularity {
    enabled = true
}

timeline {
  enabled = true
  file = "${params.out}/timeline.html"
  overwrite = true
  cleanup = true
}

report {
   enabled = true
   file = "${params.out}/report.html"
   overwrite = true
   cleanup = true
}

profiles {
    slurm{
    process {
       executor = 'slurm'
       queue = 'Main'
       maxRetries = 2
      }
   }
}
